/* Estilos para dispositivos móviles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
header {
	background-color: #3f3c3b;
	padding: 20px;
}
h1 {
	margin: 0;
}
nav {
	margin-top: 10px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	display: inline-block;
	margin-right: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}
main {
	padding: 20px;
}
section {
	margin-bottom: 20px;
}
h2 {
	margin-top: 0;
}
ul {
	margin-top: 0;
}
footer {
	background-color: #201e26;
	color: #fff;
	padding: 10px;
	text-align: center;
}

/* Estilos para tabletas y computadoras */
@media (min-width: 768px) {
	header {
		display: flex;
		justify-content: space-between;
	}
	nav {
		margin: 0;
	}
	ul {
		display: flex;
	}
	main {
		display: flex;
		flex-wrap: wrap;
	}
	section {
		flex-basis: calc(50% - 20px);
	}
}